html {
	background-color:#ccc;
}


body {
margin: 0;
}

main {
	margin: 1em;
}

header {
	background-color: #450000;
	padding: 3em 5em 3em 5em;
	margin: 0em;
	text-align: center;
	text-decoration: none;
}


h1 {
	font-weight: bold;
	font-size: 5rem;
	font-style: italic;
	text-decoration: none;
	font-family: 'Sigmar One', cursive;
	line-height:1.5;
	text-align: center;
}

h2 {
	font-weight: bold;
	font-size: 5rem;
	font-style: italic;
	text-decoration: none;
	font-family: 'Sigmar One', cursive;
	line-height:1.5;
	text-align: left;
}

nav li {
	background-color: #aa0000;
	text-align: center;
	margin: 0;
	padding: 0.5em 1em 0.5em 0.5em;
	border: solid;
	border-radius: 24px;
	display: inline-block;
}

	ol {
	line-height:1.5;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	font-family: Arial, sans-serif;
	list-style-type: lower-roman;
	padding: 0;
}

p {
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

blockquote {
	font-style:italic;
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

figure {
	text-align: center;
	background-color: #bb0000;
	border: solid;
	border-radius: 21px;
	padding: 5em 1em 5em 1em;
	margin: 0em;
}

figcaption {
	font-style:italic ;
	line-height:1.5;
	font-weight: normal;
	font-size: 2rem;
	text-decoration: none;
	font-family: Arial, sans-serif;

}

dl {
	line-height:1.5;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-align: left;
}

dd {
	font-style: italic;
	line-height:1.5;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	font-family: Arial, sans-serif;
	text-align: left;
	margin: 0;
}



a {
		color: red;
}

a:hover {
		color: purple;
}

.merc {
	color: white;
}

.bars {
	color: blue;
}

.cite {
	text-align: right;
	}

em {
	color: green;
}

.sources {
	background-color: #aa0000;
	text-align: left;
	text-decoration:none;
	margin: 0em;
	text-decoration: none;
}

.bullet {
	list-style-type: disc;
}

img {
width: 100%;
}
